<a href="https://githubtocolab.com/gee-community/geemap/blob/master/examples/notebooks/113_image_area.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open in Colab"/></a>

Uncomment the following line to install [geemap](https://geemap.org) if needed.

In [1]:
# !pip install geemap

In [2]:
import ee
import geemap

Add ESA Land Cover data.

In [3]:
Map = geemap.Map()
dataset = ee.ImageCollection("ESA/WorldCover/v100").first()
Map.addLayer(dataset, {'bands': ['Map']}, 'ESA Land Cover')
Map.add_legend(builtin_legend='ESA_WorldCover')
Map

Map(center=[20, 0], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=HBox(children=(Toggâ€¦

Calculate the area of each land cover type.

In [4]:
df = geemap.image_area_by_group(
    dataset, scale=1000, denominator=1e6, decimal_places=4, verbose=True
)
df

Calculating area for group 10 ...
Calculating area for group 20 ...
Calculating area for group 30 ...
Calculating area for group 40 ...
Calculating area for group 50 ...
Calculating area for group 60 ...
Calculating area for group 70 ...
Calculating area for group 80 ...
Calculating area for group 90 ...
Calculating area for group 95 ...
Calculating area for group 100 ...

               area  percentage
group
10     4.420003e+07      0.2901
20     1.078775e+07      0.0708
30     3.200165e+07      0.2100
40     1.317507e+07      0.0865
50     6.837829e+05      0.0045
60     2.288831e+07      0.1502
70     2.395389e+06      0.0157
80     2.103490e+07      0.1381
90     2.044810e+06      0.0134
95     1.880085e+05      0.0012
100    2.964988e+06      0.0195

Save the results to a CSV.

In [5]:
df.to_csv('data/esa_area.csv')

Add NLCD land cover data.

In [ ]:
Map = geemap.Map(center=[40, -100], zoom=4)
Map.add_basemap('HYBRID')

nlcd = ee.Image('USGS/NLCD_RELEASES/2019_REL/NLCD/2019')
landcover = nlcd.select('landcover')

Map.addLayer(landcover, {}, 'NLCD Land Cover 2019')
Map.add_legend(
    title="NLCD Land Cover Classification", builtin_legend='NLCD', height='465px'
)
Map

Calculate the area of each land cover type.

In [ ]:
df = geemap.image_area_by_group(
    landcover, scale=1000, denominator=1e6, decimal_places=4, verbose=True
)
df

Save the results to a CSV.

In [ ]:
df.to_csv('data/nlcd_area.csv')